.game-board {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  text-align: center;

  .board {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing:border-box;

    .disc {
      float: left;
      width: 14%;
      height: 16%;
      padding-top: 20px;
      border-radius: 50%;
    }

    .disc0 {
      background-color: rgb(134, 134, 134);
    }

    .disc1 {
      background-color: rgb(150, 29, 29);
    }

    .disc2 {
      background-color: rgb(41, 14, 161);
    }

  }
}